.movie-grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #646cff;
  border-radius: 8px;
  margin-right: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.favorite-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #646cff;
  border-radius: 8px;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
